{% extends "layout.html" %}
{% block content %}
<html>

    <div class="jumbotron"> 
        <div class="container">
            <h1 class="display-3" >
                <strong>
                Welcome to the home page
                </strong>
            </h1>
        </div>
    </div>


    <div class="row p-4">
        <div class="card m-auto" style="width:90%;">
            <div class="card-body">
                <div id="chart" class="chart"></div>
                <p>
                    dlksfdlfkjdlkfjlsdjflsdkjflsdkjflksjldfkj
                </p>
            </div>
        </div>
    </div>  


    <!-- plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs = {{graphJSON|safe}};
        Plotly.plot('chart',graphs,{});
    </script>
</html>
{% endblock %}