{% extends "layout.html" %}
{% block content %}

<style>
    body {
        background-image: url('static/pacmanbg.gif'); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: middle;
        font-family: 'Press Start 2P', cursive; 
    }
</style>

<!-- Title at top of page -->
<center>
    <div class="d-flex justify-content-center" style="margin-top: 50px" style="margin-bottom: 50px;"> 
        <h1>
            Welcome
        </h1>
    </div>

    <h2>Video Game <br>Data Visualization Project</h2>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</center>
<h4>Created by: Mike, Jessamyn, Kajal, Allister, Stephanie</h4>
</center>

<!-- plotly CDN -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


{% endblock %}