{% extends "layout.html" %}
{% block content %}


  <!-- Title at top of page -->
  <div class="d-flex justify-content-center" style="margin-top: 50px" style="margin-bottom: 50px;"> 
    <h1>
      Overview
    </h1>
  </div>
      <!-- Card for first graph -->
      <div class="row p-4">
        <div class="card m-auto" style="width:90%" style="margin-top: 100px">
            <div class="card-body">
                <h4 class="card-title">Counts of Games by Publisher</h4>
                <div id="chart1" class="chart"></div>
                <p>
                </p>
            </div>
        </div>
    </div>  
    <!-- Card for second graph -->
    <div class="row p-4">
        <div class="card m-auto" style="width:90%" style="margin-top: 100px">
            <div class="card-body">
                <h4 class="card-title">Number of Games by Publisher Binned</h4>
                <div id="chart2" class="chart"></div>
                <p>
                </p>
            </div>
        </div>
    </div>  
    <!-- Card for third graph -->
    <div class="row p-4">
        <div class="card m-auto" style="width:90%" style="margin-top: 100px">
            <div class="card-body">
                <h4 class="card-title">Distribution of Game User Scores</h4>
                <div id="chart3" class="chart"></div>
                <p>
                </p>
            </div>
        </div>
    </div>  


<!-- plotly CDN -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
        var graph1 = {{ov1graphJSON|safe}};
        Plotly.plot('chart1', graph1,{});
        var graph2 = {{ov2graphJSON|safe}};
        Plotly.plot('chart2', graph2,{});
        var graph3 = {{ov3graphJSON|safe}};
        Plotly.plot('chart3', graph3,{});



    </script>
{% endblock %}
