h1{
    /* font-family:"Press Start 2P" */
    font-family: "Kode Mono", monospace;
    font-size: 100px;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

body {
    background-image: url('static/pacmanbg.gif'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Press Start 2P', cursive; 
}

nav{
    font-family: "Kode Mono", monospace;
}

body {
    margin:0;
    background: rgba(0,0,0,0.1);
}

.jumbotron{
    background-color: black
    
}

*{
    padding: 0px;
    margin:0;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color:greenyellow;
}

h4{
    font-family: "Kode Mono", monospace;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}
